<a href="https://colab.research.google.com/github/madhukiranreddygurala/SRH-EaSTM/blob/main/Madhu%20test%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num = int(input('Enter the number: '))
if num > 999:
  print("Please input a smaller number")
else:
  unit = ('', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine')
  tens = ('Ten','Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen')
  hundreds = ('','Ten','Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety' )
  n1= num %10
  n2= num //10
  n3 = n2 %10
  n4 = n2 //10
  
  if num == 0:
    print("Zero")
  
  if num < 10:
    print(unit[n1])
  
  elif num < 20:
    print(tens[n1])
  
  elif n3 == 1:
    print(unit[n4] ,tens[n1])
  
  else:
    print(unit[n4], 'hundred' ,hundreds[n3], unit[n1])

Enter the number: 222
Two hundred Twenty Two